aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
COPYING
depcomp
INSTALL
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
